@model IEnumerable<FSO.Client.Models.MemberViewModel>

<h2>Members</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            @if (member == null)
            {
                <tr>
                    <td colspan="3">No Members Found</td>
                </tr>
            }
            else
            {
                <tr>
                 @*    <td>@member.Id</td> *@
                    <td>@member.Name</td>

                    <td>
                        <a asp-action="PutMember" asp-controller="Members" asp-route-id="@member.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="DeleteMember" asp-controller="Members" asp-route-id="@member.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>               
            }            
        }
       
        
    </tbody> 
</table>


<form asp-controller="Members" asp-action="PostMember" method="post">
    <!-- Input and Submit elements -->
    @* <input type="text" name="Id" class="form" /> *@
    <input type="text" name="Name" class="form" />
    <button class="btn btn-success" type="submit">Create New</button>
</form>